
<h2> We are GUCEC and we are awesome </h2>

<p> Feel free to add some bio information about yourself and push it up to GitHub! </p>

<p> Welles Robinson is a senior in the College pursuing a Bachelor of Science in Computer Science with a minor in Science, Technology and International Affairs </p>

<p> Kevin Tian is a sophomore in the McDonough School of Business pursuing a double major in Finance and Computer Science with a minor in Mathematics.</p>

<p> Chris Lam is a sophomore in the School of Foreign Service pursuing a major in Science, Technology and International Affairs.</p>
 